main {
  margin-left: 8rem;
  padding: 0 4rem;
}

.navbar:hover .link-text {
  display: inline;
}

.navbar:hover .footer-logo {
  display: inline;
}

.github:hover {
  color: #afafaf;
}

.linkedin:hover {
  color: #0e76a8;
}

.twitter:hover {
  color: #00acee;
}
